@import 'mixins';

.entertainment{
	color: $entertainment-color;
	padding: 0.6em 6em;
	border-color: $entertainment-color;
	border-radius: 25px;
	margin-top: 6.5em;
	letter-spacing: 0.1em;
}


h4 {
	@include h4;
}

p {
	@include p14;
	color: black;
}