$font-family: 'Raleway';


@mixin button(){

    background-color: $primary-color;
    color: white;
    padding: 0.6em 6em;
    border-radius: 25px;
    margin-top: 6.5em;
    letter-spacing: 0.1em;
}

@mixin h1{
    font-size: 28px;
    font-weight: 800;
    font-family: $font-family;
}

@mixin h2{
    font-size: 21px;
    font-weight: 800;
    font-family: $font-family;
}

@mixin h3{
    font-size: 17px;
    font-weight: 800;
    font-family: $font-family;
}


@mixin four{
    font-size: 14px;
    font-weight: 800;
    font-family: $font-family;
}

@mixin p14{
    font-size: 14px;
    font-weight: 400;
    font-family: $font-family;
}

@mixin p16{
    font-size: 16px;
    font-weight: 400;
    font-family: $font-family;
}

@mixin p18{
    font-size: 18px;
    font-weight: 400;
    font-family: $font-family;
}

