$font-stack:    Apple SD Gothic Neo, sans-serif;
$primary-color: #8400d1;

header{
	text-align: left;
}

.page-name {
	text-align: center;
	font-family: $font-stack;
	letter-spacing: 0.1em;
	display: block;
	width: 9em;
	margin: auto;
	font-size: 24px;
	margin-top: 4em;
	margin-bottom: 2.5em;
}

.fa-arrow-left{
	font-size: 2em;
}
.wrapper{
	text-align: center;	
}

.signup-contents {
	display: flex;
	flex-wrap: wrap;
	width: 91%;
	margin: auto;

	.signup-contents-input {
		border: 1.5px lightgrey solid;
		height: 3.5em;
		width: 74%;
		background-color: #F8F8F8;
		padding: 0.5em;
	}

	#FirstName {
		width: 50%;
		border-top-left-radius: 0.7em;
		border-bottom: 0.5px;
	}
	#LastName {
		width: 50%;
		border-top-right-radius: 0.7em;
		border-bottom: 0.5px;
		border-left: 0.5px;
	}
	#UserName {
		width: 100%;
		border-bottom: 0.5px;

	}
	#EmailAddress {
		width: 100%;
		border-bottom: 0.5px;

	}
	#Password {
		width: 100%;
		border-bottom-left-radius: 0.7em;
		border-bottom-right-radius: 0.7em;

	}
	::placeholder {
		font-size: 0.8em;
		padding-left: 1em;
		color: grey;
	}
}

.btn {
	background-color: $primary-color;
	color: white;
	padding: 1em 3.4em;
	   border-radius: 29px;
	margin-top: 5.5em;
	letter-spacing: 0.1em;
}