$primary-color: #2D2B88;
$primary-color: #2D2B88;
// $p-heavy: ;
$primary-color: #333;

$entertainment-color: #6236FF;
$wellbeing-color: #519607;
$sport-color: #0091FF;
$flood-color: #FA6400;
$misc-color: #E02064;

$font-family: 'Roboto';

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css';
@import 'mixins';
@import 'login';
@import 'signup';
@import 'login';
@import 'homepage';

@mixin fontfamily{
        font-family: 'Roboto', sans-serif;
}

@mixin h1{
    font-size: 28px;
    font-weight: 800;
    @include fontfamily;
    font-family: $font-family;
}

@mixin h2{
    font-size: 21px;
    font-weight: 800;
    @include fontfamily;
    font-family: $font-family;
}

@mixin h3{
    font-size: 17px;
    font-weight: 800;
    @include fontfamily;
    font-family: $font-family;
}

@mixin h4{
    font-size: 14px;
    font-weight: 800;
    @include fontfamily;
    font-family: $font-family;
}

@mixin p14{
    font-size: 14px;
    font-weight: 400;
    @include fontfamily;
    font-family: $font-family;
}

@mixin p16{
    font-size: 16px;
    font-weight: 400;
    @include fontfamily;
    font-family: $font-family;
}

@mixin p18{
    font-size: 18px;
    font-weight: 400;
    @include fontfamily;
}






