$font-stack:    Apple SD Gothic Neo, sans-serif;
$font-stack2:    Avenir, sans-serif;
$primary-color: #2D2B88;
$primary-color: #2D2B88;
// $p-heavy: ;
$primary-color: #333;


@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css';
@import 'mixins';
@import 'login';
@import 'signup';
@import 'login';
@import 'homepage';
@import 'eventpage';



@mixin h1{
    font-size: 28px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}

@mixin h2{
    font-size: 21px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}

@mixin h3{
    font-size: 17px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}


@mixin h4{
    font-size: 14px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}

@mixin p14{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

@mixin p16{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

@mixin p18{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

