@import 'login';
@import 'signup';
@import 'homepage';
@import 'eventslist';
@import 'mixins';

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css';

$primary-color: #2D2B88;
$secondary-color: #333;
$entertainment-color: #6236FF;
$wellbeing-color: #519607;
$sport-color: #0091FF;
$flood-color: #FA6400;
$misc-color: #E02064;
$font-family: 'Raleway';






