@import 'login.scss';
@import 'signup.scss';
<<<<<<< HEAD
@import 'login.scss';
=======
>>>>>>> sean
@import 'homepage.scss';

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css';

<<<<<<< HEAD
$primary-color: #2D2B88;
=======
$primary-color: #2D2B88;
// $p-heavy: ;
$primary-color: #333;
>>>>>>> sean
